@import "tailwindcss";

@theme {
  --color-card-surface: #454545;
}

html {
  width: 100%;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-tap-highlight-color: transparent;
}

*,
* > * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  cursor: default;
}

body {
  margin: 0;
  height: 100%;
  width: 100%;
}

html,
body {
  overflow: hidden;
  touch-action: none;
  -webkit-overflow-scrolling: auto;
  overscroll-behavior: none;
}

:root {
  display: block;
  unicode-bidi: isolate;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--color-white);
}

.content-grid {
  grid-template-columns: repeat(8, 290px);
  grid-template-rows: repeat(7, 218px);
  grid-template-areas:
    "s1 s2 l1 l1 s3 s4 s5 s6"
    "gallery gallery l1 l1 contact contact s7 s8"
    "gallery gallery s9 s10 s11 s12 cv s13"
    "s14 s15 s16 profile profile s17 cv s18"
    "map map s19 s20 s21 s22 cv s23"
    "s24 l2 l2 technologies technologies s25 l3 l3"
    "s26 l2 l2 s27 s28 s29 l3 l3";
}
